<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Funkoshop</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <%- include('../partials/header') %>
    <main class="container main-contact">
        <section class="contact">
          <h1 class="mainlogin__title">Contacto</h1>
          <p class="mainlogin__subtitle">
            ¿Tienes alguna pregunta o comentario? ¡Estamos aquí para ayudarte!
          </p>
          <form class="contact-form" action="procesar_formulario.php" method="post">
            <div class="contact-row">
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" name="nombre" required />
            </div>
            <div class="contact-row">
              <label for="correo">E-Mail:</label>
              <input type="email" id="correo" name="correo" required />
            </div>
            <div class="contact-row">
              <label for="mensaje">Mensaje:</label>
              <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
            </div>
            <button class="btn-ingresar" type="submit">Enviar</button>
          </form>
        </section>
      </main>
<br>
<%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

</body>

</html>