<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Funkoshop</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <%- include('../partials/header') %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Contacto</h1>
<br>
<br>
<br>
<br>
<h2>Esta pagina esta en fase de desarrollo</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

</body>

</html>