<%- contentFor('title') %>
About - Funkoshop

<%- contentFor('main') %>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Contacto</h1>
<br>
<br>
<br>
<br>
<h2>Esta pagina esta en fase de desarrollo</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
