<%- contentFor('title') %>
About - Funkoshop

<%- contentFor('main') %>
<main class="container main-contact">
    <section class="contact">
      <h1 class="admin__title">Contacto</h1>
      <p class="mainlogin__subtitle">
       ¿Tienes alguna pregunta o comentario? ¡Estamos aquí para ayudarte!
      </p>
      <form class="formulario" action="procesar_formulario.php" method="post">
        <div class="contact-row">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required />
        </div>
        <div class="contact-row">
          <label for="correo">E-Mail:</label>
          <input type="email" id="correo" name="correo" required />
        </div>
        <div class="contact-row">
          <label for="mensaje">Mensaje:</label>
          <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
        </div>
        <button class="item__button" type="submit">Enviar</button>
      </form>
    </section>
  </main>
