<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - Funkoshop</title>
</head>

<body>
    <header>
        <picture>
            <a href="./index.html">
                <img src="./../../../public/img/branding/logo_light_horizontal.svg" alt="logo">
            </a>
        </picture>
        <nav>
            <ul>
                <li><a href="./tienda/shop.html">SHOP</a></li>
                <li><a href=""></a>CONTACTO</li>
                <li><a href="auth/login.ejs"></a>LOGIN</li>
                <li><a href=""></a><img src="../../../public/img/icons/cart-icon.svg" alt=""></li>
            </ul>
        </nav>
    </header>

    <h1>CARRITO DE COMPRAS</h1>

    <section>
        <ul>
            <li>
                <div>
                    DETALLE DE PRODUCTO
                </div>
                <div>
                    CANTIDAD
                </div>
                <div>
                    TOTAL
                </div>
                <div>
                    QUITAR
                </div>
            </li>
            <li>
                <div>
                    <article>
                        <a href="./item.html">
                            <picture>
                                <img src="./../../../public/img/star-wars/baby-yoda-1.webp" alt="">
                            </picture>
                            <div>
                                <h3>BABY YODA BLUEBALL</h3>
                                <p>STARWARS</p>
                                <p>Precio unitario $ 1799,99</p>
                            </div>
                        </a>
                    </article>
                </div>
                <div>
                    <input type="number" placeholder="2">
                </div>
                <div>
                    <h4>$ 3599,98</h4>
                </div>
                <div>
                    <img src="" alt="">
                </div>
            </li>
            <li>
                <div>
                    <article>
                        <a href="./item.html">
                            <picture>
                                <img src="../../../public/img/pokemon/pidgeotto-1.webp" alt="">
                            </picture>
                            <div>
                                <h3>PIDGEOTTO</h3>
                                <p>POKEMON</p>
                                <p>Precio unitario $ 1799,99</p>
                            </div>
                        </a>
                    </article>
                </div>
                <div>
                    <input type="number" placeholder="1">
                </div>
                <div>
                    <h4>$ 1799,99</h4>
                </div>
                <div>
                    <img src="" alt="">
                </div>
            </li>
        </ul>
    </section>



    <h1>RESUMEN</h1>
    <section>
        <table>
            <tr>
                <td>CANTIDAD DE ELEMENTOS</td>
                <td>3</td>
            </tr>
            <tr>
                <td>SUBTOTAL</td>
                <td>$ 5399,97</td>
            </tr>
            <tr>
                <td>ENVIO</td>
                <td>$ 0,00</td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td>$ 5399,97</td>
            </tr>
        </table>

        <button>IR A PAGAR</button>
    </section>

    <footer>
        <section>
            <nav>
                <ul>
                    <li><a href="./shop.html">SHOP</a></li>
                    <li><a href=""></a>CONTACTO</li>
                    <li><a href="auth/login.ejs"></a>LOGIN</li>
                    <li><a href="auth/register.ejs"></a>REGISTER</li>
                </ul>
                <picture><img src="../../../public/img/branding/isotype.svg" alt=""></picture>
            </nav>
        </section>
        <p> © 2023 Funkoshop. Todos los derechos reservados.</p>
    </footer>

</body>

</html>