<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - Funkoshop</title>
    <link rel="stylesheet" href="../../../public/css/index.css">
</head>

<body>
    <header>
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="./../index.html">
                    <img src="./../../../public/img/branding/logo_light_horizontal.svg" alt="logo">
                </a>
            </picture>

            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="./shop.html">SHOP<iconify-icon
                            icon="tabler:chevron-down"></iconify-icon></a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="./shop.html" class="submenu__link">Funkos</a>
                        </li>
                        <li class="submenu__item">
                            <a href="./shop.html" class="submenu__link">Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="./shop.html" class="submenu__link">LLaveros</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./about.html">CONTACTO</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__cart" href="./cart.html">
                        <img src="../../../public/img/icons/cart-icon.svg" alt=""></a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="container">
    <h1 class="cart__title">CARRITO DE COMPRAS</h1>

    <section>
        <ul>
            <li class="cabecera__tabla">
                <div class="cabecera__title">
                    DETALLE DE PRODUCTO
                </div>
                <div></div>
                <div class="cabecera__title">
                    CANTIDAD
                </div>
                <div class="cabecera__title">
                    TOTAL
                </div>
                
            </li>
            <li class="article__tabla">
                <div class="article__detalle--box">
                    <article>
                        <a class="article__detalle" href="./item.html">
                            <picture>
                                <img class="article__img" src="./../../../public/img/star-wars/baby-yoda-1.webp" alt="">
                            </picture>
                            <div>
                                <h3 class="card-item__name">BABY YODA BLUEBALL</h3>
                                <p class="card-item__licence">STARWARS</p>
                                <p class="card-item__price">Precio unitario $1799,99</p>
                            </div>
                        </a>
                    </article>
                </div>
                <div>
                    <input class="input__precio" type="number" placeholder="  2">
                </div>
                <div>
                    <h2>$3599,98</h2>
                </div>
                <div>
                    <img src="" alt="">
                </div>
            </li>
            <li class="article__tabla">
                <div class="article__detalle--box">
                    <article>
                        <a class="article__detalle" href="./item.html">
                            <picture>
                                <img class="article__img" src="../../../public/img/pokemon/pidgeotto-1.webp" alt="">
                            </picture>
                            <div>
                                <h3 class="card-item__name">PIDGEOTTO</h3>
                                <p class="card-item__licence">POKEMON</p>
                                <p class="card-item__price">Precio unitario $1799,99</p>
                            </div>
                        </a>
                    </article>
                </div>
                <div>
                    <input class="input__precio" type="number" placeholder="  1">
                </div>
                <div>
                    <h2>$1799,99</h2>
                </div>
                <div>
                    <img src="" alt="">
                </div>
            </li>
        </ul>
    </section>


<div class="resumen">
    <h1 class="cart__title">RESUMEN</h1>
    <section class="article__resumen">
        <table>
            <tr>
                <td>CANTIDAD DE ELEMENTOS</td>
                <td>3</td>
            </tr>
            <tr>
                <td>SUBTOTAL</td>
                <td>$5399,97</td>
            </tr>
            <tr>
                <td class="ultima">ENVIO</td>
                <td class="ultima">$0,00</td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td>$5399,97</td>
            </tr>
        </table>
    </section>
    <a class="item__button" href=""> Ir a Pagar </a>
</div>

</main>
    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="./shop.html">SHOP</a></li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./about.html">CONTACTO</a></li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/login.html">LOGIN</a></li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../admin/register.html">REGISTER</a></li>
            </ul>
            <picture><img src="../../../public/img/branding/isotype.svg" alt=""></picture>
        </nav>
    <p class="footer__copy"> © 2023 Funkoshop. Todos los derechos reservados.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>


</body>

</html>