<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item - Funkoshop</title>
    <link rel="stylesheet" href="../../../public/css/index.css">
</head>

<body>
    <header>
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="./../index.html">
                    <img src="./../../../public/img/branding/logo_light_horizontal.svg" alt="logo">
                </a>
            </picture>

            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="./shop.html">SHOP<iconify-icon
                            icon="tabler:chevron-down"></iconify-icon></a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="./shop.html" class="submenu__link">Funkos</a>
                        </li>
                        <li class="submenu__item">
                            <a href="./shop.html" class="submenu__link">Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="./shop.html" class="submenu__link">LLaveros</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./about.html">CONTACTO</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../auth/login.ejs">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__cart" href="./cart.html">
                        <img src="../../../public/img/icons/cart-icon.svg" alt=""></a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main-container">

        <section class="collection container">
            <picture class="collection__cover">
                <img src="./../../../public/img/star-wars/baby-yoda-1.webp" alt="">
            </picture>
            <article class="collection__content">
                <p class="item__collection">STARWARS</p>
                <h3 class="item__title">BABY YODA BLUEBALL</h3>
                <p class="item__description">Figura coleccionable de Baby Yoda (Grogu) - The Mandalorian Saga, edición limitada.</p>
                <h4 class="item__price">$ 1799,99</h4>
                <div>
                    <input class="cantidad__input" type="number" placeholder=" 0">
                    <a class="item__button" href="./cart.html">Agregar al Carrito</a>
                </div>
                <div>
                    <a class="item__promo" href="">Ver metodos de pago - 3 CUOTAS SIN INTERES</a>
                </div>
            </article>
            
        </section>

    <section class="slider container">
        <h2 class="slider__title">PRODUCTOS RELACIONADOS</h2>
        <ul class="shop__items">
            <li class="slider__item">
                <article class="card-item">
                    <a class="card-item__link" href="./item.html">
                        <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/star-wars/trooper-1.webp"
                                alt="">
                            <img class="card-item__img--back" src="../../../public/img/star-wars/trooper-box.webp"
                                alt="">
                        </picture>
                        <div class="card-item__content">
                            <p class="card-item__licence">STARWARS</p>
                            <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
                            <p class="card-item__price">$ 1799,99</p>
                            <p class="card-item__promo">3 coutas sin interes</p>
                        </div>
                    </a>
                </article>
            </li>
            <li class="slider__item">
                <article class="card-item">
                    <a class="card-item__link" href="">
                        <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/pokemon/pidgeotto-1.webp"
                                alt="">
                            <img class="card-item__img--back" src="../../../public/img/pokemon/pidgeotto-box.webp"
                                alt="">
                        </picture>
                        <div class="card-item__content">
                            <p class="card-item__licence">POKEMON</p>
                            <h4 class="card-item__name">PIDGEOTTO</h4>
                            <p class="card-item__price">$ 1799,99</p>
                            <p class="card-item__promo">3 coutas sin interes</p>
                        </div>
                    </a>
                </article>
            </li>
            <li class="slider__item">
                <article class="card-item">
                    <a class="card-item__link" href="">
                        <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/harry-potter/luna-1.webp"
                                alt="">
                            <img class="card-item__img--back" src="../../../public/img/harry-potter/luna-box.webp"
                                alt="">
                        </picture>
                        <div class="card-item__content">
                            <p class="card-item__licence">HARRY POTTER</p>
                            <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
                            <p class="card-item__price">$ 1799,99</p>
                            <p class="card-item__promo">3 coutas sin interes</p>
                        </div>
                    </a>
                </article>
            </li>
            </ul>

            </main>

    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="./shop.html">SHOP</a></li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./about.html">CONTACTO</a></li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../auth/login.ejs">LOGIN</a></li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../auth/register.ejs">REGISTER</a></li>
            </ul>
            <picture><img src="../../../public/img/branding/isotype.svg" alt=""></picture>
        </nav>
    <p class="footer__copy"> © 2023 Funkoshop. Todos los derechos reservados.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

</body>

</html>