@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {

    /* paleta de colores */
    --primary-solid: #ff3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-solid: #1d84b5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);
    --secondary-100: rgb(29, 132, 181, 0.1);

    --dark-solid: #1f1f1f;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --light-bg-solid: #fafaff;
    --light-font-solid: #ffffff;

    /* tipografia */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* sizes tipografia */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;

    /* spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid)
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

ul,
ol {
    list-style: none;
}

p {
    font-size: 1.8em;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}



/* header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20)
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative
}

.navbar__link:hover {
    background-color: var(--primary-900);

}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8)
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    width: 200px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;

}

.submenu__link {
    display: block;
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-900);
}

/* hero -- banner */

.hero {
    background-image: url(../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px) brightness(.7);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
}

.hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.hero__text {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    color: var(--light-font-solid);
}

.hero__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out
}

.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}

/* colecciones */

.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
    order: -1
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}

.collection__text {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    padding-bottom: var(--spacing-20);
    border-bottom: 2px solid var(--primary-solid);
}

.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    border-radius: 50px;
    padding: var(--spacing-12) var(--spacing-36);
    font-weight: 500;
    transition: background .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--primary-solid);
}

/* slider */

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}

.slider__items {
    display: flex;
}

.slider__item {
    display: flex;
    gap: var(--spacing-24);
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__licence {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price {
    font-size: var(--font-small);
}

.card-item__promo {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
    text-transform: uppercase;
}

.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__cover img {
    animation: fade 1.7s;
}

.card-item__img--front {
    display: block;
}

.card-item__img--back {
    display: none;
}

.card-item__cover:hover .card-item__img--back {
    display: block;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__tag {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}

/* footer */
.footer {
    padding: var(--spacing-68);
}

.footer__copy {
    margin-top: var(--spacing-36);
    text-align: center;
}

/* shop */
.shop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.aside {
    margin: var(--spacing-28);
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
}

.buscar__titulo {
    font-family: var(--base-font);
    font-weight: 500;
    font-size: var(--font-large);
    margin-bottom: var(--spacing-12);
}

.placeholder {
    font-weight: 100;
}

.selector {
    width: 100%;
    border-radius: 6px;
    border-color: var(--dark-solid);
    border-width: 2px;
    height: 35px;
}

.option {
    font-weight: 100;
}

.precios {
    display: flex;
    align-items: center;
}

.input__precio {
    width: 20%;
    border-radius: 6px;
    border-color: var(--dark-solid);
    border-width: 2px;
}

.minmax {
    font-size: var(--font-xsmall);
    font-weight: 700;
    padding-right: var(--spacing-8);
    padding-left: var(--spacing-8);
}

.filtros {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.checkboxes {
    display: flex;
    align-items: center;
    margin-left: 10px;

}

.checkbox__text {
    font-size: var(--font-small);
    font-weight: 500;
    margin-left: 5px;
}

.shop__items--container {
    margin: var(--spacing-28);
    grid-column: 2/6;
}

.shop__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* item */

.item__collection {
    font-size: var(--font-small);
    font-weight: 500;
}

.item__title {
    font-size: var(--font-jumbo);
    font-weight: 700;
}

.cantidad__input {
    padding: var(--spacing-8)
}

.item__button {
    background-color: var(--primary-solid);
    color: var(--light-bg-solid);
    font-size: var(--font-small);
    padding: var(--spacing-8) var(--spacing-12);
}

.item__price {
    font-size: var(--font-jumbo);
    font-weight: 400;
}

.item__promo {
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-solid);
}

.cart__title {
    padding-top: var(--spacing-68);
    font-size: var(--font-jumbo);
    font-weight: 700;
    border-bottom: solid var(--primary-solid);
}

.ultima {
    border-bottom: solid var(--primary-solid);
}

.cabecera__tabla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--secondary-100);
    border-radius: var(--spacing-24);
    margin-top: var(--spacing-36);
    padding: var(--spacing-12);
}


.cabecera__title {
    padding: var(--spacing-12);
    font-weight: 700;
    font-size: var(--font-xsmall);

}

.article__tabla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    background-color: var(--secondary-100);
    margin: var(--spacing-16) 0;
    padding: var(--spacing-36);
    border-radius: var(--spacing-28);
}

.article__img {
    width: 60%;
}

.resumen {
    text-align: right;
}

.article__resumen {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--spacing-36);
    background-color: var(--secondary-100);
    margin: var(--spacing-16) 0;
    padding: var(--spacing-36);
    border-radius: var(--spacing-36);
}

.article__detalle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.article__detalle--box {
    grid-column: 1/3;
}

td {
    padding: var(--spacing-12);
    font-weight: 700;
    font-size: var(--font-medium);
}

/* admin */
.admin__title{
    font-size: var(--font-xlarge);
    margin: var(--spacing-12) 0 ;
}
.error{
    padding: var(--spacing-16);
    background-color: red;
    font-size: var(--font-medium);
    color: var(--light-bg-solid);
    margin: var(--spacing-16) ;
    border-radius: var(--spacing-12);
}

label{
    font-size: var(--font-medium);
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    padding: var(--spacing-16);
}
th{
    font-size: var(--font-medium);
    padding: var(--spacing-24);
}
td{
    font-size: var(--font-medium);
    padding: var(--spacing-20);
    font-family: var(--base-font);
    font-weight: 500;
}


/* animaciones */

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}