<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funkoshop</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://kit.fontawesome.com/fc9795f00b.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="buscador"><i class="fa-solid fa-magnifying-glass"></i><input type="text"
                placeholder="codigo, nombre o categoria"></div>
        <h2>LISTADO DE PRODUCTOS</h2><a href="create.html">
            <h3><button>AGREGAR <i class="fa-solid fa-square-plus" id="trash"></i></button></h3>
        </a>
        <table>
            <tr>
                <th>ID</th>
                <th>Codigo</th>
                <th>Nombre del Producto</th>
                <th>Categoria</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>1</td>
                <td>STWOO1OO1</td>
                <td>Baby Yoda Blueball</td>
                <td>STARWARS</td>
                <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
            </tr>
            <tr>
                <td>2</td>
                <td>STWOO1OO2</td>
                <td>Boba Fett Fighter</td>
                <td>STARWARS</td>
                <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
            </tr>
            <tr>
                <td>3</td>
                <td>STWOO1OO3</td>
                <td>Luke Skylwalker & Grogu</td>
                <td>STARWARS</td>
                <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
            </tr>
            <tr>
                <td>4</td>
                <td>STWOO1OO4</td>
                <td>Stormtrooper Lightsaber</td>
                <td>STARWARS</td>
                <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
            </tr>
            <tr>
                <td>5</td>
                <td>PKMOO1OO1</td>
                <td>Charmander Smiley</td>
                <td>POKEMON</td>
                <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
            </tr>
            <tr>
                <td>6</td>
                <td>PKMOO1OO2</td>
                <td>Dragonite Hi!</td>
                <td>POKEMON</td>
                <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
            </tr>
            <tr>
                <td>7</td>
                <td>PKMOO1OO3</td>
                <td>Pidgeotto Flying</td>
                <td>POKEMON</td>
                <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
            </tr>
            <tr>
                <td>8</td>
                <td>PKMOO1OO4</td>
                <td>Pikachu Smiley</td>
                <td>POKEMON</td>
                <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
            </tr>
            <tr>
                <td>9</td>
                <td>PKMOO1OO5</td>
                <td>Vulpix Fancy</td>
                <td>POKEMON</td>
                <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
            </tr>
            <tr>
                <td>10</td>
                <td>HPTOO1OO1</td>
                <td>Harry Potter & Hegwid</td>
                <td>HARRY POTTER</td>
                <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
            </tr>
            <tr>
                <td>11</td>
                <td>HPTOO1OO2</td>
                <td>Herminione Ball Dress</td>
                <td>HARRY POTTER</td>
                <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
            </tr>
            <tr>
                <td>12</td>
                <td>HPTOO1OO3</td>
                <td>Luna Lovegood Lion Mask</td>
                <td>HARRY POTTER</td>
                <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
            </tr>
            <tr>
                <td>13</td>
                <td>HPTOO1OO4</td>
                <td>Snape Patronus</td>
                <td>HARRY POTTER</td>
                <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
            </tr>


        </table>
    </main>
    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

</body>

</html>