<%- contentFor('title') %>
Categoria Nueva - Funkoshop

<%- contentFor('main') %>
<body>
    
        <form action="create" method="post"> 
            <h1>Crear nueva Categoria</h1>
           
            <p>Nombre: </p>
            <input type="text" name="nombre" id="nombre" placeholder="Harry Potter">
            <div>
                <button type="submit">Agregar categoria</button>
            </div>
        </form>
            
</body>
