<%- contentFor('title') %>
    Editar Categoria - Funkoshop

    <%- contentFor('main') %>

        <main>
            <h1>Edit categoría</h1>

            <form action="/admin/categorias/edit/<%= values.id %>?_method=PUT" method="post">
                <div>
                    <label for="nombre">Nombre: </label>
                    <input type="text" id="nombre" name="nombre"
                        value="<%= typeof values != 'undefined' ? values.nombre : '' %>" />
                </div>
                <button type="submit">Guardar</button>
            </form>
        </main>