<%- contentFor('title') %>
Editar Categoria - Funkoshop

<%- contentFor('main') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Editar categoria</h1>

        <p>Categoria:</p>
        <input type="text" placeholder="Nombre Categoria">


        <button>Agregar categoria</button>
        <button>Limpiar</button>
    </main>
</body>
