<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funkoshop</title>
    <link rel="stylesheet" href="../../../public/css/index.css">
    <script src="https://kit.fontawesome.com/fc9795f00b.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="./../index.html">
                    <img src="./../../../public/img/branding/logo_light_horizontal.svg" alt="logo">
                </a>
            </picture>

            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="../tienda/shop.html">SHOP<iconify-icon
                            icon="tabler:chevron-down"></iconify-icon></a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="../tienda/shop.html" class="submenu__link">Funkos</a>
                        </li>
                        <li class="submenu__item">
                            <a href="../tienda/shop.html" class="submenu__link">Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="../tienda/shop.html" class="submenu__link">LLaveros</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../tienda/about.html">CONTACTO</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__cart" href="../tienda/cart.html">
                        <img src="../../../public/img/icons/cart-icon.svg" alt=""></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Ingresar a mi cuenta</h1>
        
        <p>Email:</p>
        <input type="email" placeholder="jhondoe@correo.com">
        <p>Contraseña:</p>
        <input type="password" placeholder="........">
       
        <button>Ingresar</button>
    </main>

    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="../tienda/shop.html">SHOP</a></li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../tienda/about.html">CONTACTO</a></li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./login.html">LOGIN</a></li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./register.html">REGISTER</a></li>
            </ul>
            <picture><img src="../../../public/img/branding/isotype.svg" alt=""></picture>
        </nav>
    <p class="footer__copy"> © 2023 Funkoshop. Todos los derechos reservados.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

</body>
</html>