<%- contentFor('title') %>
    LogIn - Funkoshop

    <%- contentFor('main') %>

        <body>

            <main>
                <h1>Ingresar a mi cuenta</h1>

                <div>
                    <label>Email:</label>
                    <input type="email" placeholder="jhondoe@correo.com">
                </div>
                <div>
                    <label>Contraseña:</label>
                    <input type="password" placeholder="........">
                </div>

                <button>Ingresar</button>

                <div><button>
                        <a href="/admin/productos">ADMIN PRODUCTOS</a>
                    </button></div>
                <div><button>
                        <a href="/admin/categorias">ADMIN CATEGORIAS</a>
                    </button></div>



            </main>
        </body>