<%- contentFor('title') %>
LogIn - Funkoshop

<%- contentFor('main') %>
<body>

    <main>
        <h1>Ingresar a mi cuenta</h1>
        
        <p>Email:</p>
        <input type="email" placeholder="jhondoe@correo.com">
        <p>Contraseña:</p>
        <input type="password" placeholder="........">
       
        <button>Ingresar</button>

        <button>
        <a href="/admin/productos">ADMIN</a>
        </button>
    </main>
</body>
