<%- contentFor('title') %>
Register - Funkoshop

<%- contentFor('main') %>
<body>
    <main>
        <h1>Crea tu cuenta</h1>
        <h2>Completa el formulario para ser parte del mundo de los Funkos</h2>
        
        <p>Nombre:</p>
        <input type="text" placeholder="Jhon">
        <p>Apellido:</p>
        <input type="text" placeholder="Doe">
        <p>Email:</p>
        <input type="email" placeholder="jhondoe@correo.com">
        <p>Contraseña:</p>
        <input type="password" placeholder="........">
        <p>Repita contraseña:</p>
        <input type="password" placeholder="........">
       

        <button>Registrar</button>
    </main>
   </body>
